{% extends "../base_extended.html" %}

{% load static %}



{% block page__main %}


<main id="view_page" class="container container_display">			
	<div id="__DYNAMIC_CHILD_CONTENT__" class="content">
		<h1>Авторизация, регистрация</h1>
		<div class="content">
			<div class="about_payment_method">
				{% block content %}
				{% if form.errors %}
					<p>Your username and password didn't match. Please try again.</p>
				{% endif %}

				{% if next %}
					{% if user.is_authenticated %}
						<p>Your account doesn't have access to this page. To proceed,
						please login with an account that has access.</p>
					{% else %}
						<p>Please login to see this page.</p>
					{% endif %}
				{% endif %}
				<div class="auth_form">
					<form method="post" action="{% url 'login' %}">
						<h2>Вход</h2>
						{% csrf_token %}
						<p>{{ form.username.label_tag }}</p>
						{{ form.username }}
						<p>{{ form.password.label_tag }}</p>
						{{ form.password}}
						<button class="cart_buy_btn" name="btn_login" type="submit">Войти</button>
						<a href="/register">Зарегистрироваться</a>
					</form>
				</div>
				{% endblock %}
<!-- 				<div class="auth_form">
					<h2>Регистрация</h2>
					<form action="">
						<p>Логин</p>
						<input type="text" name="login" id="" required>
						<p>Пароль</p>
						<input type="password" name="password" id="" required>
						<button class="cart_buy_btn" name="btn_register" type="submit">Зарегистрироватья</button>
					</form>
				</div> -->
			</div>
		</div>	
	</div>
</main>


{% comment %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}




{% endcomment %}

{% endblock page__main %}

