{% extends "base_extended.html" %}
{% load static %}

{% comment %}

# profile.html 
# Подраздел "профиль", раздел "профиль" 

{% endcomment %}

{% block page__main %}
<main id="view_page" class="container container_display">			
	<div id="__DYNAMIC_CONTENT__" class="content">	
		{% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
		{% endif %}

		{% if next %}
			{% if user.is_authenticated %}
				<p>Your account doesn't have access to this page. To proceed,
				please login with an account that has access.</p>
			{% else %}
				<p>Please login to see this page.</p>
			{% endif %}
		{% endif %}
		
		{% csrf_token %}
		<h1>Профиль - мои данные</h1>
		<div class="content_profile">
			<div class="content_sidebar_nav">					
				<div class="content_sidebar_nav__elems">
					<a class="sidebar_photo">
						<img src="https://avatars2.githubusercontent.com/u/49910690?s=460&u=6c152079b428e67e712dd923a094a91c18c20e24&v=4">
					</a>
					<p class="sidebar_myname">{{ person.first_name}} {{ person.last_name }} {{ person.middle_name }} </p>
					<p class="sidebar_myphone">{{ person.phone }}</p>
				</div>		
				<div class="content_sidebar_nav__elems">
					<div class="sidebar_links">
						<a href="/accounts/logout">Выход</a>
					</div>
				</div>
			</div>
			<div id="__DYNAMIC_CHILD_CONTENT__">

				<div class="content_with_sidebar__elems">
					<div class="profile_about">
						<h2>Персональные данные:  {{ user.username }}</h2>
						<div class="profile_about__elems">
							<p>ФИО</p>
							<p>{{ person.first_name}} {{ person.last_name }} {{ person.middle_name }} </p>
						</div>
						<div class="profile_about__elems">
							<p>Телефон</p>
							<p>{{ person.phone }}</p>
						</div>
						<div class="profile_about__elems">
							<p>Почта</p>
							<p>{{person.email}}</p>
						</div>
						<div class="profile_about__elems">
							<p>ID учётной записи</p>
							<p>{{user.id}}::{{ person.id }}</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div>
	</div>
</main>
{% endblock page__main %}