{% extends "base_extended.html" %}
{% load static %}

{% comment %}

# profile.html 
# Подраздел "профиль", раздел "профиль" 

{% endcomment %}

{% block page__main %}
<main id="view_page" class="container container_display">			
	<div id="__DYNAMIC_CHILD_CONTENT__" class="content">
		<h1>Доставка товара</h1>
		<div class="content">
			<div class="about_payment_method">
				<div class="">
					<p>Сейчас у нас более 85 розничных магазинов в крупнейших городах нашей страны. В ассортименте широкий выбор устройств и аксессуаров.</p>
				</div>
				<div class="">
					<p>Всё это время мы руководствовались главным принципом — максимально удовлетворять потребности наших клиентов.</p>
				</div>
				<div class="">
					<p>Мы предлагаем удобные программы кредитования и рассрочки, услуги страхования техники, бонусные программы и другие интересные предложения.</p>
				</div>
				<div class="">
					<p>Пользователи всегда имели возможность познакомиться с любым продуктом «вживую». Наши консультанты, прошедшие обучение по программе Apple, готовы прийти на помощь и ответить на все вопросы.</p>
				</div>
				<div class="">
					<p>Желание максимально соответствовать требованиям самых взыскательных клиентов и выстраивать долгосрочные отношения с ними за счёт уровня обслуживания принесло свои плоды. За прошедшие годы нашими клиентами стали сотни тысяч людей и десятки тысяч компаний. Мы гордимся тем, что они выбрали нас.</p>
				</div>
			</div>
		</div>	
	</div>
</main>
{% endblock page__main %}