{% extends "base_extended.html" %}
{% load static %}

{% comment %}

# profile.html 
# Подраздел "профиль", раздел "профиль" 

{% endcomment %}

{% block page__main %}
<main id="view_page" class="container container_display">			
	<div id="__DYNAMIC_CHILD_CONTENT__" class="content">
		<h1>Доставка товара</h1>
		<div class="content">
			<div class="about_payment_method">
				<div class="">
					<p><span class="tabulation"></span>Пункт выдачи расположен по адресу г. Пермь, ул. Ленина, 15.</p>
					<p><span class="tabulation"></span>Время работы:</p>
					<ul>
						<li>ПН-СБ: 9-20</li>
						<li>ВС: выходной</li>
					</ul>
					<p><span class="tabulation"></span>Доставка товара с момента заказа осуществляется в течение 3-10 рабочих дней, срок хранения заказа в пункте выдачи 5 дней с момента поступления. Для продления срока хранения обратитесь в службу поддержки по тел. 8 (951) 987-65-43 или напишите нам на электронную почту feedback@somestore.com</p>
				</div>
			</div>
		</div>	
	</div>
</main>
{% endblock page__main %}