{% extends "base_extended.html" %}
{% load static %}

{% block page__main %}
<main id="view_page" class="container container_display">			
	<div class="slider_home">
		<div class="slider_home_inner">
			<img src={% static "slides/home_s1.png" %} class="active">
			<img src={% static "slides/home_s2.png" %}>
			<img src={% static "slides/home_s3.png" %}>
			<img src={% static "slides/home_s4.png" %}>
		</div>
		<img src={% static "icons/previous.svg" %} class="btn_prev_slide" alt="Prev">
		<img src={% static "icons/next.svg" %} class="btn_next_slide" alt="Next">
	</div>
	<div id="__DYNAMIC_CHILD_CONTENT__" class="content">	
		<h1 class="products_header">Новинки</h1>
		<div class="content_products_home">
			
			<div id="__DYNAMIC_CHILD_CONTENT__">
				<div class="content_products_home__elems">
					<a href="/product/id{{new_1.id}}/" class="product_pos_btn">
						<img src={{new_1.image}} alt="Image" class="product_pos__img">
						<p class="product_pos__name">{{new_1.name}}</p>
						<p class="product_pos__pricetag">{{new_1.price}} <span>₽</span></p>
					</a>
					<a href="/product/id{{new_2.id}}/" class="product_pos_btn">
						<img src={{new_2.image}} alt="Image" class="product_pos__img">
						<p class="product_pos__name">{{new_2.name}}</p>
						<p class="product_pos__pricetag">{{new_2.price}} <span>₽</span></p>
					</a>
					<a href="/product/id{{new_3.id}}/" class="product_pos_btn">
						<img src={{new_3.image}} alt="Image" class="product_pos__img">
						<p class="product_pos__name">{{new_3.name}}</p>
						<p class="product_pos__pricetag">{{new_3.price}} <span>₽</span></p>
					</a>
				</div>
				<div class="content_products_home__elems">
					<a href="/product/id{{new_4.id}}/" class="product_pos_btn">
						<img src={{new_4.image}} alt="Image" class="product_pos__img">
						<p class="product_pos__name">{{new_4.name}}</p>
						<p class="product_pos__pricetag">{{new_4.price}} <span>₽</span></p>
					</a>
					<a href="/product/id{{new_5.id}}/" class="product_pos_btn">
						<img src={{new_5.image}} alt="Image" class="product_pos__img">
						<p class="product_pos__name">{{new_5.name}}</p>
						<p class="product_pos__pricetag">{{new_5.price}} <span>₽</span></p>
					</a>
					<a href="/product/id{{new_6.id}}/" class="product_pos_btn">
						<img src={{new_6.image}} alt="Image" class="product_pos__img">
						<p class="product_pos__name">{{new_6.name}}</p>
						<p class="product_pos__pricetag">{{new_6.price}} <span>₽</span></p>
					</a>
				</div>
			</div>

		</div>	
		<h1 class="brands_header">Бренды</h1>
		<div class="content_brands_home">

			<div id="__DYNAMIC_CHILD_CONTENT__">
				<div class="content_brands_home__elems">
					<a class="brand_pos_btn">
						<img src={% static "brands/apple.svg" %} alt="Apple" class="brand_pos__img">
					</a>
					<a class="brand_pos_btn">
						<img src={% static "brands/microsoft.svg" %} alt="Microsoft" class="brand_pos__img">
					</a>
					<a class="brand_pos_btn">
						<img src={% static "brands/dell.svg" %} alt="Dell" class="brand_pos__img">
					</a>
				</div>
				<div class="content_brands_home__elems">
					<a class="brand_pos_btn">
						<img src={% static "brands/western-digital.svg" %} alt="Wester Digital" class="brand_pos__img">
					</a>
					<a class="brand_pos_btn">
						<img src={% static "brands/electrolux.svg" %} alt="Electrolux" class="brand_pos__img">
					</a>
					<a class="brand_pos_btn">
						<img src={% static "brands/hp.svg" %} alt="HP" class="brand_pos__img">
					</a>
				</div>
			</div>

		</div>
		<h1 class="products_header">Популярное</h1>
		<div class="content_products_home">
			
			<div id="__DYNAMIC_CHILD_CONTENT__">
				<div class="content_products_home__elems">
					<a href="/product/id{{pop1.id}}/" class="product_pos_btn">
						<img src={{pop1.image}} alt="Image" class="product_pos__img">
						<p class="product_pos__name">{{pop1.name}}</p>
						<p class="product_pos__pricetag">{{pop1.price}} <span>₽</span></p>
					</a>
					<a href="/product/id{{pop2.id}}/" class="product_pos_btn">
						<img src={{pop2.image}} alt="Image" class="product_pos__img">
						<p class="product_pos__name">{{pop2.name}}</p>
						<p class="product_pos__pricetag">{{pop2.price}} <span>₽</span></p>
					</a>
					<a href="/product/id{{pop3.id}}/" class="product_pos_btn">
						<img src={{pop3.image}} alt="Image" class="product_pos__img">
						<p class="product_pos__name">{{pop3.name}}</p>
						<p class="product_pos__pricetag">{{pop3.price}} <span>₽</span></p>
					</a>
				</div>
				<div class="content_products_home__elems">
					<a href="/product/id{{pop4.id}}/" class="product_pos_btn">
						<img src={{pop4.image}} alt="Image" class="product_pos__img">
						<p class="product_pos__name">{{pop4.name}}</p>
						<p class="product_pos__pricetag">{{pop4.price}} <span>₽</span></p>
					</a>
					<a href="/product/id{{pop5.id}}/" class="product_pos_btn">
						<img src={{pop5.image}} alt="Image" class="product_pos__img">
						<p class="product_pos__name">{{pop5.name}}</p>
						<p class="product_pos__pricetag">{{pop5.price}} <span>₽</span></p>
					</a>
					<a href="/product/id{{pop6.id}}/" class="product_pos_btn">
						<img src={{pop6.image}} alt="Image" class="product_pos__img">
						<p class="product_pos__name">{{pop6.name}}</p>
						<p class="product_pos__pricetag">{{pop6.price}} <span>₽</span></p>
					</a>
				</div>
			</div>

		</div>	
	</div>
</main>
{% endblock page__main %}