{% extends "base_extended.html" %}
{% load static %}

{% block page__main %}
<main id="view_page" class="container container_display">			
	<div class="slider_home">
		<div class="slider_home_inner">
			<img src={% static "slides/home_s1.png" %} class="active">
			<img src={% static "slides/home_s2.png" %}>
			<img src={% static "slides/home_s3.png" %}>
			<img src={% static "slides/home_s4.png" %}>
		</div>
		<img src={% static "icons/previous.svg" %} class="btn_prev_slide" alt="Prev">
		<img src={% static "icons/next.svg" %} class="btn_next_slide" alt="Next">
	</div>
	<div id="__DYNAMIC_CHILD_CONTENT__" class="content">	
		<div class="content_categories_home">
			<div class="content_categories_home_elems">
				<button class="ticket_category_btn">
					<img src={% static "img/1.jpg" %} alt="Image" class="ticket_category__img">
					<p class="ticket_category__name">Смартфоны</p>
					<p class="ticket_category__about">от 8 590 ₽</p>
				</button>
				<button class="ticket_category_btn">
					<img src={% static "img/2.jpg" %} alt="Image" class="ticket_category__img">
					<p class="ticket_category__name">Планшеты</p>
					<p class="ticket_category__about">от 10 990 ₽</p>
				</button>
				<button class="ticket_category_btn">
					<img src={% static "img/3.jpg" %} alt="Image" class="ticket_category__img">
					<p class="ticket_category__name">Мониторы</p>
					<p class="ticket_category__about">от 6 800 ₽</p>
				</button>
			</div>
			<div class="content_categories_home_elems">
				<button class="ticket_category_btn">
					<img src={% static "img/4.jpg" %} alt="Image" class="ticket_category__img">
					<p class="ticket_category__name">Принтеры</p>
					<p class="ticket_category__about">от 7 905 ₽</p>
				</button>
				<button class="ticket_category_btn">
					<img src={% static "img/5.jpg" %} alt="Image" class="ticket_category__img">
					<p class="ticket_category__name">Ноутбуки</p>
					<p class="ticket_category__about">от 33 459 ₽</p>
				</button>
				<button class="ticket_category_btn">
					<img src={% static "img/6.jpg" %} alt="Image" class="ticket_category__img">
					<p class="ticket_category__name">Аксессуары</p>
					<p class="ticket_category__about">от 129 ₽</p>
				</button>
			</div>
		</div>
		<h1 class="products_header">Новинки</h1>
		<div class="content_products_home">
			
			<div id="__DYNAMIC_CHILD_CONTENT__">
				<div class="content_products_home__elems">
					<button class="product_pos_btn">
						<img src={% static "icons/question.svg" %} alt="Image" class="product_pos__img">
						<p class="product_pos__name">Названиие</p>
						<p class="product_pos__pricetag">- <span>₽</span></p>
					</button>
					<button class="product_pos_btn">
						<img src={% static "icons/question.svg" %} alt="Image" class="product_pos__img">
						<p class="product_pos__name">Название</p>
						<p class="product_pos__pricetag">- <span>₽</span></p>
					</button>
					<button class="product_pos_btn">
						<img src={% static "icons/question.svg" %} alt="Image" class="product_pos__img">
						<p class="product_pos__name">Название</p>
						<p class="product_pos__pricetag">- <span>₽</span></p>
					</button>
				</div>
				<div class="content_products_home__elems">
					<button class="product_pos_btn">
						<img src={% static "icons/question.svg" %} alt="Image" class="product_pos__img">
						<p class="product_pos__name">Название</p>
						<p class="product_pos__pricetag">- <span>₽</span></p>
					</button>
					<button class="product_pos_btn">
						<img src={% static "icons/question.svg" %} alt="Image" class="product_pos__img">
						<p class="product_pos__name">Название</p>
						<p class="product_pos__pricetag">- <span>₽</span></p>
					</button>
					<button class="product_pos_btn">
						<img src={% static "icons/question.svg" %} alt="Image" class="product_pos__img">
						<p class="product_pos__name">Название</p>
						<p class="product_pos__pricetag">- <span>₽</span></p>
					</button>
				</div>
			</div>

		</div>	
		<h1 class="brands_header">Бренды</h1>
		<div class="content_brands_home">

			<div id="__DYNAMIC_CHILD_CONTENT__">
				<div class="content_brands_home__elems">
					<button class="brand_pos_btn">
						<img src={% static "brands/apple.svg" %} alt="Apple" class="brand_pos__img">
					</button>
					<button class="brand_pos_btn">
						<img src={% static "brands/microsoft.svg" %} alt="Microsoft" class="brand_pos__img">
					</button>
					<button class="brand_pos_btn">
						<img src={% static "brands/dell.svg" %} alt="Dell" class="brand_pos__img">
					</button>
				</div>
				<div class="content_brands_home__elems">
					<button class="brand_pos_btn">
						<img src={% static "brands/western-digital.svg" %} alt="Wester Digital" class="brand_pos__img">
					</button>
					<button class="brand_pos_btn">
						<img src={% static "brands/electrolux.svg" %} alt="Electrolux" class="brand_pos__img">
					</button>
					<button class="brand_pos_btn">
						<img src={% static "brands/hp.svg" %} alt="HP" class="brand_pos__img">
					</button>
				</div>
			</div>

		</div>
		<h1 class="products_header">Популярное</h1>
		<div class="content_products_home">
			
			<div id="__DYNAMIC_CHILD_CONTENT__">
				<div class="content_products_home__elems">
					<button class="product_pos_btn">
						<img src={% static "icons/question.svg" %} alt="Image" class="product_pos__img">
						<p class="product_pos__name">Название</p>
						<p class="product_pos__pricetag">- <span>₽</span></p>
					</button>
					<button class="product_pos_btn">
						<img src={% static "icons/question.svg" %} alt="Image" class="product_pos__img">
						<p class="product_pos__name">Название</p>
						<p class="product_pos__pricetag">- <span>₽</span></p>
					</button>
					<button class="product_pos_btn">
						<img src={% static "icons/question.svg" %} alt="Image" class="product_pos__img">
						<p class="product_pos__name">Название</p>
						<p class="product_pos__pricetag">- <span>₽</span></p>
					</button>
				</div>
				<div class="content_products_home__elems">
					<button class="product_pos_btn">
						<img src={% static "icons/question.svg" %} alt="Image" class="product_pos__img">
						<p class="product_pos__name">Название</p>
						<p class="product_pos__pricetag">- <span>₽</span></p>
					</button>
					<button class="product_pos_btn">
						<img src={% static "icons/question.svg" %} alt="Image" class="product_pos__img">
						<p class="product_pos__name">Название</p>
						<p class="product_pos__pricetag">- <span>₽</span></p>
					</button>
					<button class="product_pos_btn">
						<img src={% static "icons/question.svg" %} alt="Image" class="product_pos__img">
						<p class="product_pos__name">Название</p>
						<p class="product_pos__pricetag">- <span>₽</span></p>
					</button>
				</div>
			</div>

		</div>	
	</div>
</main>
{% endblock page__main %}