{% extends "base_extended.html" %}
{% load static %}

{% comment %}

# profile.html 
# Подраздел "профиль", раздел "профиль" 

{% endcomment %}

{% block page__main %}
<main id="view_page" class="container container_display">			
	<div id="__DYNAMIC_CHILD_CONTENT__" class="content">
		<h1>Microsoft Xbox One S All-Digital Edition</h1>
		<div class="content_profile">
			<div class="content_sidebar_nav">					
				<div class="content_sidebar_nav__elems">
					<a class="sidebar_photo_wide">
						<img src="HTTP://TODO">
					</a>			
				</div>		
				<button class="cart_buy_btn">Добавить в корзину (18 300 ₽)</button>
			</div>
			<div id="__DYNAMIC_CHILD_CONTENT__">

				<div class="content_with_sidebar__elems">
					<div class="profile_about">
						<h2>Характеристики</h2>
						<div class="profile_about__elems">
							<p>Модель</p>
							<p>Xbox One S All-Digital Edition</p>
						</div>
						<div class="profile_about__elems">
							<p>Страна-производитель</p>
							<p>Китай</p>
						</div>
						<div class="profile_about__elems">
							<p>Вес (кг.)</p>
							<p>1.5</p>
						</div>
					</div>
					<div class="profile_about">
						<h2>Описание</h2>
						<p></p>
					</div>
				</div>

			</div>
		</div>
		</div>
	</div>
</main>
{% endblock page__main %}