{% extends "base_extended.html" %}
{% load static %}

{% comment %}

# profile.html 
# Подраздел "профиль", раздел "профиль" 

{% endcomment %}

{% block page__main %}
<main id="view_page" class="container container_display">			
	<div id="__DYNAMIC_CONTENT__" class="content">	
		<h1>Профиль - мои данные</h1>
		<div class="content_profile">
			<div class="content_sidebar_nav">					
				<div class="content_sidebar_nav__elems">
					<a class="sidebar_photo">
						<img src="res/photo/CaXEXWsUMAAwnTE.jpg">
					</a>
					<p class="sidebar_myname">Jopa Jopa Jopa</p>	
					<p class="sidebar_myphone">Тел. Govno</p>				
				</div>		
				<div class="content_sidebar_nav__elems">
					<div class="sidebar_links">
						<a href="/accounts/logout">Выход</a>
					</div>
				</div>
			</div>
			<div id="__DYNAMIC_CHILD_CONTENT__">

				<div class="content_with_sidebar__elems">
					<div class="profile_about">
						<h2>Персональные данные</h2>
						<div class="profile_about__elems">
							<p>ФИО</p>
							<p>Jopa Jopa Jopa</p>
						</div>
						<div class="profile_about__elems">
							<p>Телефон</p>
							<p>Govno</p>
						</div>
						<div class="profile_about__elems">
							<p>Почта</p>
							<p>kal@yahoo.com</p>
						</div>
						<div class="profile_about__elems">
							<p>ID учётной записи</p>
							<p>Parasha</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div>
	</div>
</main>
{% endblock page__main %}