<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1>{{ error }}</H1>
    <form action="" method="POST">
        {% csrf_token %}
        усераме
        <input type="text" name="username">
        емойл
        <input type="text" name="email">
        порол
        <input type="text" name="password">
        ИД_СТРАНЫ
        <input type="text" name="countryid">
        2имя
        <input type="text" name="secondname">
        1мия
        <input type="text" name="firstname">
        среднечковое имя
        <input type="text" name="middlename">
        Мобила есть?
        <input type="text" name="phone">
        <input type="submit" value="pizda">
    </form>
</body>
</html>