{% extends "base_extended.html" %}

{% load static %}



{% block page__main %}

<main id="view_page" class="container container_display">			
	<div id="__DYNAMIC_CHILD_CONTENT__" class="content">
		<h1>Авторизация, регистрация</h1>
		<div class="content">
			<div class="about_payment_method">
				{{ error }}
				<div class="auth_form">
					<form action="" method="POST">
						{% csrf_token %}
						<h2>Регистрация</h2>
						<p>Логин</p>
						<input type="text" name="username" id="" required>
						<p>E-Mail</p>
						<input type="email" name="email" id="" required>
						<p>Фамилия</p>
						<input type="text" name="secondname" id="" required>
						<p>Имя</p>
						<input type="text" name="firstname" id="" required>
						<p>Отчество (при наличии)</p>
						<input type="text" name="middlename" id="">
						<p>Телефон</p>
						<input type="tel" name="phone" id="" required>
						<p>Пароль</p>
						<input type="tel" name="password" id="" required>
						
						<input type="hidden" name="countryid" value="3" id="" required>
						<button class="cart_buy_btn" name="btn_register" type="submit">Зарегистрироватья</button>
						<a href="/accounts/login">Войти</a>
					</form>
				</div>
			</div>
		</div>	
	</div>
</main>

{% endblock page__main %}
<!-- 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1>{{ error }}</H1>
    <form action="" method="POST">
        {% csrf_token %}
        усераме
        <input type="text" name="username">
        емойл
        <input type="text" name="email">
        порол
        <input type="text" name="password">
        ИД_СТРАНЫ
        <input type="text" name="countryid">
        2имя
        <input type="text" name="secondname">
        1мия
        <input type="text" name="firstname">
        среднечковое имя
        <input type="text" name="middlename">
        Мобила есть?
        <input type="text" name="phone">
        <input type="submit" value="pizda">
    </form>
</body>
</html> -->