{% extends "base_extended.html" %}
{% load static %}

{% comment %}

# profile.html 
# Подраздел "профиль", раздел "профиль" 

{% endcomment %}

{% block page__main %}
<main id="view_page" class="container container_display">			
	<div id="__DYNAMIC_CHILD_CONTENT__" class="content">
		<h1>Доставка товара</h1>
		<div class="content">
			<div class="about_payment_method">
				<div class="">
					<p>Все товары включают в себя гарантийные обязательства и комплектуются соответствующими гарантийными талонами производителей (в случае, если производитель комплектует свою продукцию такими талонами).</p>
				</div>
				<div class="">
					<p>По вопросам гарантийного обслуживания купленного оборудования Вы можете обратиться в соответствующие сервисные центры:</p>
					<ul>
						<li>Apple — в любом из авторизованных сервисных центров.</li>
						<li>Bose — в авторизованном сервисном центре.</li>
						<li>Harman/JBL — в компании Никкор-Тек, тел. +7 (495) 788-45-05.</li>
						<li>Parrot Ar. Drone — в сервисном центре по вертолётам Ar. Drone.</li>
						<li>Wacom — в любом из авторизованных сервисных центров.</li>
					</ul>
				</div>
			</div>
		</div>	
	</div>
</main>
{% endblock page__main %}